@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3, .bold {
  font-family: 'Ubuntu', sans-serif;
}

.navItem i {
  font-size: 1.5rem;
  /* box-shadow: 0 0 55px rgba(255, 221, 96, 0.5); */
}

.blueShadow {
  box-shadow: 0 0 1px #60a5fa;
}

.blueShadow:hover {
  transform: translateY(-1px);
  box-shadow: 0 6px 0 #60a5fa;
}